@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Roboto');

header {
	background-color: #FFED74;
	/*background-image: url("../images/hospitals.jpg");
	background-repeat: no-repeat;
	background-position: left top;
    background-size: cover*/
    border: 1px black solid;
	padding: 20px
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

body {
	color: #1C1C1C;
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 18px;
	font-weight: normal;
}

aside {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	display: block;
	float: left;
	width: 30%;
	/*background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;*/
}

article {
	/*background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	display: block;*/
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	display: block;
	float: right;
	width: 62%;
}

h1 {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #1C1C1C;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	color: 1C1C1C;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

h3 {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #1C1C1C;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0054a6;
}

div, section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.stat

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

/*#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;*/
}

#slogan {
	font-style: italic;
	color: #1C1C1C;
}

/*#intro {
	background-image: url("../images/hospitals.jpg");
	background-repeat: no-repeat;
	background-position: left top;
    background-size: cover
}*/


