

body {
	background: #fff
	color: #1C1C1C;
	font-family: arial, sans serif;
	font-size: 18px;
	font-weight: normal;
}

h1 {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #00a850;
	color: #fff;
	font-family: arial, sans serif;
	font-size: 32px;
	font-weight: bold;
}

#slogan {
	font-style: italic;
}

h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #0054a6;
	color: #fff;
	font-family: arial, sans serif;
	font-size: 24px;
	font-weight: bold;
}

h3 {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #fff;
	color: #1C1C1C;
	font-family: arial, sans serif;
	font-size: 22px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0054a6;
}